<a href="https://colab.research.google.com/github/takahiromiura/class_data_analysis_I/blob/feature%2Flecture4/notebooks/%E6%9D%A1%E4%BB%B6%E5%88%86%E5%B2%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 条件分岐

ある条件を満たしていたら処理 A、そうでないなら処理 B を行うことを条件分岐といいます。

Python は他のプログラミング言語と異なり、インデントに意味があり、使える場面が限られます。

- インデントは、行の初めに空白を入れて文字を右にシフトさせることです。

  - これはインデントの例です

段落の初めを 1 文字空けるのもインデントの例です。

例えば、Python では以下は `3` はエラーになりません。

In [ ]:
3

次のように空白、つまりインデントがあるとエラーになります (Colab だと 1 行目に空白があってもエラーにならない)。

In [ ]:
#     3

## print 関数

条件分岐で何が起こっているか分かりやすくするために、print 関数について説明します。

Colab ノートブックは、以下のコードのように最後の行の結果を出力します。

In [2]:
NUMS = [1, 2, 3]
NUMS

[1, 2, 3]

以下のように、最後の行で値を参照してない場合は何も出力されません。

In [3]:
NUMS
NUMS = [4, 5, 6] # 変数再定義

最後の行以外の結果も出力するには print 関数を用います。

print 関数は `()` 内に出力するものを入れます。

In [ ]:
print(NUMS)
NUMS = [4, 5, 6]

[4, 5, 6]

print 関数で文字列を出力すると、ダブルクォーテーションおよびシングルクォーテーションは除去されます。

In [5]:
print("Hello World!")

Hello World!

次のようにすれば、リストの各要素を 1 つのセルで出力できます。

In [6]:
NUMS = [1, 2, 3]
print(NUMS[0])
print(NUMS[1])
print(NUMS[2])

1
2
3

## if 構文

条件分岐をするには if 構文を用います。

if 構文ではインデントを用います。

例えば、次のコードは、`<condition>` が真ならば `operation 1` が実行されます。

偽の場合は `operation 2` が実行されます。

`if <condition>`, `else` の後に `:` を使うことに注意してください。

```py
if <condition>:
    operation 1
else:
    operation 2
```

下のコードの場合、変数 `A` は 2 より大きいので `1` が出力されます。

In [ ]:
A = 3
if A > 2:
    print(1)

else:
    print(2)

##### やってみよう

上記のコードが何をしているか、文章で説明してみてください。

ヒント: 分岐の条件は何か、各分岐で何が行われているか。

##### 補足説明: 構文

コードの書き方ないしは規則のことを **構文** (シンタックス: syntax) といいます。

文法上は 1 つ以上のスペースでインデントが可能ですが、Python では 4 つのスペースでインデントするのが推奨されています。

[Python のコードスタイルガイド](https://pep8-ja.readthedocs.io/ja/latest/#section-4)

4 つスペースを打つには、`tab` キーを使います。

`operation 1` や `operation 2` は 1 行で書かれている必要はなく、複数の行のコードをまとめたブロックが実行されます。

このブロックはインデントで表現します。

つまり、`operation 1` や `operation 2` が終わりであることを示したい場合には、インデントをやめればよいです。

In [8]:
B = 10
if B < 2:
    print(1)

else:
    print(2)
    print(3)

2
3

インデントにつかうスペースの数はいくつでも良いですが、同じインデントブロック内ではスペースの数を揃える必要があります。
例えば、以下のような書き方はエラーになります。

In [ ]:
# if B > 5:
#     print(1)
#  print(3)

#### 補足説明: コーディング規約

コードスタイルガイド、あるいはコーディング規約は、これに沿うことでコードが見やすくなるというガイドラインです。

構文とは異なり、外れてもエラーにはなりません。

有名なコーディング規約は上記のリンクにある PEP8 というものです。

時間があるときに読んでみるのも良いでしょう。

`else` は省略可能です。

その場合、条件式が真でない場合は何も実行されません。

In [9]:
if 3 < 2:
    print(1)

条件分岐を増やす場合は、`elif` を使います。

例えば、`C > 10` かどうかを判定した後、`C < 0` なら別のコードを実行したい場合は次のようになります。

In [10]:
C = -5
if C > 10:
    print("C > 10")

elif C < 0:
    print("C < 0")

else:
    print("0 <= C <= 10")

C < 0

注意点として、条件分岐は上から評価され、条件が初めに真になったところで条件分岐は終了します。

細かい条件を最初に書かないと、意図しない挙動になります。

In [11]:
D = 15
if D > 5:
    print("D > 5") # ここが実行される

elif D > 10:
    print("D > 10")

else:
    print("D <= 5")

D > 5

In [12]:
D = 15
if D > 10:
    print("D > 10") # ここが実行される

elif D > 5:
    print("D > 5")

else:
    print("D <= 5")

D > 10

## やってみよう

ある数字が変数 `A` に割り当てられているとして、次の条件式を作成してみましょう。

- `A` が 10 より大きければ、`large` と出力する
- `A` が 5 より小さいならば、 `small` と出力する
- `A` が 11 と同じならば、`eleven` と出力する
- それ以外の場合、`other` と出力する

A の値を -5, 0, 11, 20 として、正しく実行されるかチェックしてください。

正しければ、`small`, `other`, `eleven`, `large` と表示されるはずです。

# 論理演算子

A かつ B や、A または B、A ではないという評価をすることもできます。
これらを用いて、より複雑な条件分岐が可能になります。

- `and`: A かつ B
- `or`: A または B
- `not`: A ではない

これらは比較演算子の評価の後に行われます。

In [13]:
age = 40
age > 20 and age < 50 # age が 20 より大きい、かつ 50 より小さいかどうか

True

In [14]:
income = 400
age < 30 or income > 500 # age が 30 より小さい、または income が 500 より大きい

False

In [15]:
country = "japan"
work = False

not (work is True and country == "japan") # work が True または country が japan ではない

True

`True`, `False`, `None` かどうかを評価するときは、`==` ではなく `is` を用います。

## やってみよう

ある商品の価格 `price` と在庫数 `stock` に基づいて、割引が適用されるかどうかを判断するプログラムを書いてください。

具体的には、価格が 1000 円以上、かつ在庫が 50 以上の場合には 「割引適用」と出力し、それ以外の場合は「割引適用外」と出力します。

以下の価格と在庫数の組で、正しく実行されるかどうか確かめてください。

- 価格: 1500 円、在庫: 100 個 (A: 割引適用)
- 価格: 500 円、在庫: 100 個 (A: 割引適用外)
- 価格: 200 円、在庫: 40 個 (A: 割引適用外)

## 条件式での真偽値以外の評価

`a > 3` や `b == "japan"` などは全て `True` か `False` の真偽値 (ブール型: bool type) です。

しかし、条件式には `3` や `"japan"`、`[5]` などを入れてもエラーにはなりません。

実際に試してみましょう。

In [7]:
if 5:
    print("5 is True")
else:
    print("5 is False")

5 is True

In [11]:
if 0:
    print("0 is True")
else:
    print("0 is False")

0 is False

In [8]:
if []:
    print("[] is True")
else:
    print("[] is False")

[] is False

整数型では 0 は False, それ以外は True として扱われます。

また、文字列型では空文字 (`""`) は False でそれ以外は True です。

何も入っていないリストやタプル、辞書は False でそれ以外は True として扱われます。

`bool` 関数を使うことで、これらが条件式ではどう評価されるかを確かめることができます。

In [12]:
bool("")

False